p {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;

  display: block;


  &.small {
      font-size: 0.875rem;
      line-height: 1.43;
      letter-spacing: 0.01071em;
  }

  &.medium {
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
  }

  &.large {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }

  &.red {
    color: red;
  }
}