.centered_container {
  background: #d3d3d3;
}

.dashboard_container {
  margin: auto 2.95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  min-height: 100vh;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
}